{{!-- mobile --}}
<div class="view-user-mobile">
  {{!-- --}}
  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.first_name}} {{this.last_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.phone_number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">App ID Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.app_id_number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">NRIC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.IC}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date Of Birth</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.DOB_format}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Start Treatment Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.treatment_start_date_format}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">End Treatment Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.treatment_end_date_format}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Expire Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.membership_expire_date_format}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Create Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.ts_format}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {{!-- <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Barcode Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.barcode_number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> --}}

  <div class="row mb-0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">{{this.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{!-- --}}
</div>
{{!-- mobile --}}